# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IntelliJ
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Application config (optional)
# =========================
application-local.yml
application-local.properties

# =========================
# Runtime files
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# Java
# =========================
*.class

# =========================
# Node
# =========================
node_modules/

# =========================
# Environment files
# =========================
.env
.env.local

# =========================
# Mac
# =========================
.AppleDouble
.LSOverride