<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세보기</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container">

    <div class="title" th:text="${board.title}"></div>
    <div class="writer" th:text="'작성자: ' + ${board.writer}"></div>
    <div class="content" th:text="${board.content}"></div>

    <a href="/board" class="btn">목록으로</a>
    <a th:href="@{/board/edit/{id}(id=${board.id})}" class="btn">수정</a>

</div>
</body>
</html>